<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<script src="https://code.angularjs.org/1.4.7/angular.js"></script>
		<script src="https://code.angularjs.org/1.4.7/angular-sanitize.min.js"></script>
		<script src="angular-localization.min.js"></script>
		<script src="appN.js"></script>
	</head>
	<body>
		<div ng-controller="EjercicioLocalizacion">
				<ul>
					<li>
						<a href="#" data-ng-click="setLocale('es-ES')">Castellano</a>
					</li>
					<li>
						<a href="#" ng-click="setLocale('en-UK')">Inglés</a>
					</li>
					<li>
						<a href="#" ng-click="setLocale('de-DE')">Alemán</a><br>
					</li>
					<li>
						<a href="#" ng-click="setLocale('fr-FR')">Frances</a><br>
					</li>
				</ul>
				<h1 data-i18n="common.titulo"></h1>
				<p data-i18n="common.descripcion"></p>
				<h3 data-i18n="common.mail"></h3>
				<p data-i18n="common.saludo" data-nombre="Pedro"></p>


		</div>

		<div ng-controller="EventsLocalizacion">
			<h1>locale: {{actual}}</h1>
		</div>
	</body>
</html>
